@font-face {
  font-family: 'Probert Bold';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/probert bold.woff') format('woff');
  }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Probert Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

img, .card {
  border-radius: 10px;
}

.card {
  width: 150px;
  height: 220px;
  background-color: grey;
  text-align: center;
}

.card:hover {
  cursor: pointer;
}

img {
  background-color: orange;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

#cards {
  width: 85%;
  max-width: 950px;
  margin: 0 auto;
  padding: 1.5rem;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}